body {
  box-sizing: border-box;
  margin: 0;
}

nav {
  width: 100%;
  grid-area: navbar;
}

.wrapper {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "navbar navbar"
    "sidebar main";
}

ul {
  list-style: "none";
  padding: 0;
  display: "inline-block";
}

ul li {
  display: inline;
  padding: 0 10px;
}

main {
  grid-area: main;
  display: inline-block;
}
