body {
  box-sizing: border-box;
  margin: 0;
  background-color: #93cbab;
}

nav {
  grid-area: navbar;
  background-color: #44a187;
  color: #fff;
  margin: 0;
  padding: 10px;
}

.MuiButton-label-2 {
  color: #fff;
}

main {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: auto;
  grid-template-areas: "sidebar main";
}

ul li {
  display: inline;
  padding: 0 10px;
}

.main {
  grid-area: main;
  padding: 10px;
}

.sidebar {
  grid-area: sidebar;
  position: fixed;
}
