body {
  box-sizing: border-box;
  margin: 0;
  background-color: #93cbab;
}

nav {
  grid-area: navbar;
  background-color: #44a187;
  color: #fff;
  margin: 0;
  padding: 10px;
}

#navBar a {
  color: #fff;
  z-index: 2;
}

.MuiButton-label-2 {
  color: #fff;
}
/* 
main {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: auto;
  grid-template-areas: "sidebar main";
} */

ul li {
  display: inline;
  padding: 0 10px;
}

.main {
  grid-area: main;
  padding: 10px;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
  transition-delay: 100ms
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 5ms ease-in-out;
}