.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 89vh;
}

#connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#connect h2 {
 font-weight: 300;
 margin: auto;
 padding: 20px
}

#connect a {
  color: #000;
  padding: 5px 5px 10px 50px;
  transition-duration: 0.5s;
}

#connect a:visited {
  color: #000;
}

#connect a:hover,
#connect a:focus {
  color: #44a187;
}

#gathering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

#gathering h2 {
  font-weight: 200
}

#meeting {
  padding: 0 30px;
  font-weight: 500;
  line-height: 1.5;
  font-size: larger;
}

.urgent {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #9a0036;
  padding: 0 60px;
}

#urgent-btn {
  background-color: #9a0036;
  
}

@media screen and (max-width: 480px) {
  #connect h2 {
    padding: 10px;
  }
  
}

@media screen and (max-width: 769px) {
  #connect a {
    color: #44a187;
    padding: 4px 16px;
    transition-duration: 0.5s;
  }  
  #connect h2 {
    padding: 20px;
  }
  
}